@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.dtPicker {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNew {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.addNewItem {
  margin: 16px;
}